<div class="container">
	<!--  slides -->
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active img1"> <img class="img-responsive" src="http://bayyraq.s3.amazonaws.com/2014/04/16.jpg">
				<div class="carousel-caption">
					<h3>Visas of Lebanon</h3>
					<p>Enjoy a great tour with us</p>
					<p>You will go to the most beautiful places in the world.<a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Click Me</a></p>
				</div>
			</div>
			<!-- End Item -->
			<div class="item"> <img src="https://goo.gl/U2jZzT">
				<div class="carousel-caption">
					<h3>Beirut</h3>
					<p>Beirut was built by the people of Jbeil (Byblos) four thousand years ago</p>
					<p>Soon it grew and became a population and became an independent kingdom on the coast, which was known as Phenicia and worshiped its own god called "Baal Perit" any god or master of Beirut, and struck in her name a coin bearing a fee representing this god.<a href="https://en.wikipedia.org/wiki/Tripoli,_Lebanon" target="_blank" class="label label-danger">Click Me</a></p>
				</div>
			</div>
			<!-- End Item -->
			<div class="item"> <img src="https://s-media-cache-ak0.pinimg.com/originals/12/92/47/1292478ce9c7a785c70938c76bde704f.jpg">
				<div class="carousel-caption">
					<h3>Tripoli</h3>
					<p>Tripoli is a Lebanese city, the capital of the northern province of Techni Balfaiha. Second largest city in Lebanon after Beirut. Historically referred to as "Tripoli al-Sham" to distinguish it from Tripoli West. <a href="https://en.wikipedia.org/wiki/Tripoli,_Lebanon" target="_blank" class="label label-danger">Click Me</a></p>
				</div>
			</div>
			<!-- End Item -->
			<div class="item"> <img src="http://www.deltalightingdesign.com/images/portfolio/fullscreen/BWD5.jpg">
				<div class="carousel-caption">
					<h3>Sydon</h3>
					<p>It is located in the South Governorate of Lebanon, on the Mediterranean coast, about 40 kilometres (25 miles) north of Tyre and 40 km (25 miles) south of the capital<a href="https://en.wikipedia.org/wiki/Tripoli,_Lebanon" target="_blank" class="label label-danger">Click Me</a></p>
				</div>
			</div>

			<!-- End Item -->

		</div>
	</div>

	<!--   cities-->
	<div id="main-container" class="main-container">
		<div class="main clearfix">
			<!-- Main Section -->
			<div class="page-container">
				<section id="city_list">
					<div class="grid-shuffle">
						<ul id="grid" class="row">
							<div class="col-xs-10 col-xs-offset-2">
								<li class="city-item small-12 medium-6 columns">
									<div class="bk-img">
										<div class="bk-wrapper">
											<div class="bk-book bk-bookdefault">
												<div class="bk-front">
													<div class="bk-cover" style="background-image: url('http://www.lebanonpostcard.com/images/postcard/post6.jpg')"></div>
												</div>
												<div class="bk-back"></div>
												<div class="bk-left"></div>
											</div>
										</div>
									</div>
									<div class="item-details">
										<h3 class="book-item_title"><a href="#/balbak" target="_blank">Baalbeck City</a></h3>
										<p class="author">Baalbeck, Lebanon's greatest Roman treasure</p>
										<p>Can be counted among the wonders of the ancient world. The largest and most noble Roman temples ever built.</p> <a href="#/balbak" class="button" target="_blank">Details</a> </div>

								</li>
							</div>
							<div class="col-xs-10 col-xs-offset-3">
								<li class="city-item small-12 medium-6 ">
									<div class="bk-img">
										<div class="bk-wrapper">
											<div class="bk-book bk-bookdefault">
												<div class="bk-front">
													<div class="bk-cover" style="background-image: url('http://www.farfesh.com/pic_server/articles_images/2010/10/28/telaviv_4.jpg')"></div>
												</div>
												<div class="bk-back"></div>
												<div class="bk-left"></div>
											</div>
										</div>
									</div>
									<div class="item-details">
										<h3 class="book-item_title"><a href="#/beirut" target="_blank">Beirut City</a></h3>
										<p class="author">Beirut was built by the people of Jbeil (Byblos) four thousand years ago</p>
										<p>Soon it grew and became a population and became an independent kingdom on the coast, which was known as Phenicia and worshiped.</p> <a href="#/beirut" class="button" target="_blank">Details</a> </div>
								</li>
							</div>
							<div class="col-xs-10 col-xs-offset-4">
								<li class="city-item small-12 medium-6 ">
									<div class="bk-img">
										<div class="bk-wrapper">
											<div class="bk-book bk-bookdefault">
												<div class="bk-front">
													<div class="bk-cover" style="background-image: url('http://www.nowsaida.com/userfiles/Image/archive/images/photos/saida112.jpg')"></div>
												</div>
												<div class="bk-back"></div>
												<div class="bk-left"></div>
											</div>
										</div>
									</div>
									<div class="item-details">
										<h3 class="book-item_title"><a href="#/saida" target="_blank">Sidon City</a></h3>
										<p class="author">Sidon is the third largest city in Lebanon and the largest city in the south</p>
										<p>Sidon is an ancient city with a great historical reputation that bears witness to its port and its citadel. In the last decade of the last century.</p> <a href="#/saida" class="button" target="_blank">Details</a> </div>
								</li>
							</div>
						</ul>

						<ul id="grid" class="row">
							<div class="col-xs-10 col-xs-offset-4">
								<li class="city-item small-12 medium-6 ">
									<div class="bk-img">
										<div class="bk-wrapper">
											<div class="bk-book bk-bookdefault">
												<div class="bk-front">
													<div class="bk-cover" style="background-image: url('http://www.lebmetal.com/wp-content/files/2012/08/jbeil.jpg')"></div>
												</div>
												<div class="bk-back"></div>
												<div class="bk-left"></div>
											</div>
										</div>
									</div>
									<div class="item-details">
										<h3 class="book-item_title"><a href="#/byblos" target="_blank">Byblos City</a></h3>
										<p class="author">Byblos city was first excavated by Pierre Montet from 1921 until 1924, followed by Maurice Dunand from 1925 over a period of forty years.</p>
										<p>Byblos city is located about 42 kilometres (26 mi) north of Beirut. </p> <a href="#/byblos" class="button" target="_blank">Details</a> </div>
								</li>
							</div>
							<div class="col-xs-10 col-xs-offset-3">
								<li class="city-item small-12 medium-6 ">
									<div class="bk-img">
										<div class="bk-wrapper">
											<div class="bk-book bk-bookdefault">
												<div class="bk-front">
													<div class="bk-cover" style="background-image: url('https://stateofmind13.files.wordpress.com/2016/05/tripoli-lebanon.png?w=350&h=200&crop=1')"></div>
												</div>
												<div class="bk-back"></div>
												<div class="bk-left"></div>
											</div>
										</div>
									</div>
									<div class="item-details">
										<h3 class="book-item_title"><a href="#/tripoli" target="_blank">Tripoli City</a></h3>
										<p class="author">Tripoli was an important city as a military base from the year 635 in the Umayyad and the Fatimid time</p>
										<p>The coast of Tripoli is characterized by a variety of geographical configurations that can be used as ports for ships and boats in Lebanon.</p> <a href="#/tripoli" class="button" target="_blank">Details</a> </div>
								</li>
							</div>
							<div class="col-xs-10 col-xs-offset-2">
								<li class="city-item small-12 medium-6 ">
									<div class="bk-img">
										<div class="bk-wrapper">
											<div class="bk-book bk-bookdefault">
												<div class="bk-front">
													<div class="bk-cover" style="background-image: url('http://goldenholidaysleb.com/uploads/galleries/TYRE/IMG_008F07-85646A-3DA5DD-84AA9E-1D196E-305164.jpg')"></div>
												</div>
												<div class="bk-back"></div>
												<div class="bk-left"></div>
											</div>
										</div>
									</div>
									<div class="item-details">
										<h3 class="book-item_title"><a href="#/tyre" target="_blank">Tyre City</a></h3>
										<p class="author">Tyre is an ancient Phoenician city and the legendary birthplace of Europa and Dido (Elissa).</p>
										<p>Tyre was founded around 2750 BC according to Herodotus and was originally built as a walled city upon the mainland.</p> <a href="#/tyre" class="button" target="_blank">Details</a> </div>
								</li>
							</div>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>

	<!--////catgories-->
	<div class="main-wrap">
		<div class="sidebar">
			<h1 class="lead">Lebanon Tours</h1>
			<!--            ///map-->
			<div class="map-responsive">
				<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d3313.402617044091!2d35.508185732532546!3d33.853513390082796!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m3!3m2!1d33.8534688!2d35.5077351!4m0!5e0!3m2!1sen!2slb!4v1496693499587"></iframe>

			</div>

			<aside class="sticky">
				<h4>Travel Dates</h4>
				<ul class="date">
					<li><span>From</span></li>
					<li> <label> <input type="date"> </label> </li>
					<li><span>To</span></li>
					<li> <label> <input type="date"> </label> </li>
				</ul>
				<h4>Categories</h4>
				<ul>
					<li><a href="#/beirut" class="new">Visit Beirut in seven days</a></li>
					<li><a href="#/tripoli" class="new">Visit Tripoli in seven days</a></li>
					<li><a href="#/balbak" class="new">Visit Balbeck in seven days</a></li>
					<li><a href="#/byblos" class="new">Visit Byblos in seven days</a></li>
					<li><a href="#/saida" class="new">Visit Sydon in seven days</a></li>
					<li><a href="#/tyre" class="new">Visit Tyre in seven days</a></li>
				</ul>
				<div>
					<div class="inner">
						<div>Get the Inside Scoop</div>
						<div class="bd">
							<form>
								<div> <input type="text" placeholder="Enter email address"> </div><br>
								<div> <button><span><a href="#/signup">Sign Up</a></span></button> </div>
							</form>
						</div>
					</div> <b class="bottom"><b class="bl"></b><b class="br"></b></b>
				</div>
			</aside>
		</div>
	</div>
</div>
