<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active img1">
<!--                <img class="img-responsive" src="https://goo.gl/U2jZzT" >-->
                <div class="carousel-caption">
                    <h3>Beirut</h3>
                    <p>Beirut was built by the people of Jbeil (Byblos) four thousand years ago</p>
                    <p>Soon it grew and became a population and became an independent kingdom on the coast, which was known as Phenicia and worshiped its own god called "Baal Perit" any god or master of Beirut, and struck in her name a coin bearing a fee representing this god.<a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Click Me</a></p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="https://s-media-cache-ak0.pinimg.com/originals/f0/f9/3f/f0f93f7f28817f74b1033b2fa2847421.jpg" height="400" width="1200">
                <div class="carousel-caption">
                    <h3>Tripoli</h3>
                    <p>Tripoli is a Lebanese city, the capital of the northern province of Techni Balfaiha. Second largest city in Lebanon after Beirut. Historically referred to as "Tripoli al-Sham" to distinguish it from Tripoli West. <a href="https://en.wikipedia.org/wiki/Tripoli,_Lebanon" target="_blank" class="label label-danger">Click Me</a></p>
                </div>
            </div>
            <!-- End Item -->
        </div>
    </div>
</div>
<div id="main-container" class="main-container">
    <div class="main clearfix">
        <!-- Main Section -->
        <div class="page-container">
            <section id="city_list">
                <div class="grid-shuffle">
                    <ul id="grid" class="row">
                        <li class="city-item small-12 medium-6 columns">
                            <div class="bk-img">
                                <div class="bk-wrapper">
                                    <div class="bk-book bk-bookdefault">
                                        <div class="bk-front">
                                            <div class="bk-cover" style="background-image: url('http://www.lebanonpostcard.com/images/postcard/post6.jpg')"></div>
                                        </div>
                                        <div class="bk-back"></div>
                                        <div class="bk-left"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-details">
                                <h3 class="book-item_title">Baalbeck City</h3>
                                <p class="author">Baalbeck, Lebanon's greatest Roman treasure</p>
                                <p>Can be counted among the wonders of the ancient world. The largest and most noble Roman temples ever built, they are also among the best preserved. Towering high above the Beqaa plain.</p>
                                <a href="http://www.middleeast.com/baalbeck.htm" class="button" target="_blank">Details</a>
                            </div>
                        </li>
                        <div class="col-xs-10 col-xs-offset-3">
                            <li class="city-item small-12 medium-6 ">
                                <div class="bk-img">
                                    <div class="bk-wrapper">
                                        <div class="bk-book bk-bookdefault">
                                            <div class="bk-front">
                                                <div class="bk-cover" style="background-image: url('http://www.farfesh.com/pic_server/articles_images/2010/10/28/telaviv_4.jpg')"></div>
                                            </div>
                                            <div class="bk-back"></div>
                                            <div class="bk-left"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-details">
                                    <h3 class="book-item_title">Beirut City</h3>
                                    <p class="author">Beirut was built by the people of Jbeil (Byblos) four thousand years ago</p>
                                    <p>Soon it grew and became a population and became an independent kingdom on the coast, which was known as Phenicia and worshiped its own god called "Baal Perit" any god or master of Beirut, and struck in her name a coin bearing a fee representing this god.</p>
                                    <a href="https://en.wikipedia.org/wiki/Beirut" class="button" target="_blank">Details</a>
                                </div>
                            </li>
                        </div>
                        <div class="col-xs-10 col-xs-offset-6">
                            <li class="city-item small-12 medium-6 ">
                                <div class="bk-img">
                                    <div class="bk-wrapper">
                                        <div class="bk-book bk-bookdefault">
                                            <div class="bk-front">
                                                <div class="bk-cover" style="background-image: url('http://www.nowsaida.com/userfiles/Image/archive/images/photos/saida112.jpg')"></div>
                                            </div>
                                            <div class="bk-back"></div>
                                            <div class="bk-left"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-details">
                                    <h3 class="book-item_title">Sidon City</h3>
                                    <p class="author">Sidon is the third largest city in Lebanon and the largest city in the south</p>
                                    <p>Sidon is an ancient city with a great historical reputation that bears witness to its port and its citadel. In the last decade of the last century, after the Lebanese civil war, it witnessed rapid civilian growth that had inflated and extended to many neighboring villages that had become part of its area.</p>
                                    <a href="https://en.wikipedia.org/wiki/Sidon" class="button" target="_blank">Details</a>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>

            </section>

        </div>

    </div>

</div>
