<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <!-- logo -->
            <a class="navbar-brand" href="#/">
                <img src="http://i54.tinypic.com/2gv4ot2.png" />
            </a>
        </div>
        <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav animated fadeIn text16">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-download-alt"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-usd"></span> Reservations <span class="caret"></span></a>
                    <ul class="dropdown-menu animated flipInX" role="menu">
                        <li><a href="#/home"><span class="glyphicon glyphicon-list-alt"></span>Reservation Hotel</a></li>
                        <li><a href="#/home"><span class="glyphicon glyphicon-road"></span>Reservation Flight</a></li>
                        <li><a href="#/home"><span class="glyphicon glyphicon-barcode"></span>Reservation Sea trip</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b> Login</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Login -->
                                    <div class="social-buttons">
                                        <div class="iconSpecial"><i class="glyphicon glyphicon-user"></i>Login</div>
                                    </div>
                                    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">login</label>
                                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Username" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                            <div class="help-block text-right"><a href="">I forgot my password ?</a></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Enter</button>
                                        </div>
                                        <div class="checkbox text-dark">
                                            <label>
											 <input type="checkbox"> Keep me logged in
											 </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</nav>

<!-- Second Nav -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <!-- Brand -->
            <a class="navbar-brand" href="#">Lebanon Trip Planner</a>
        </div>
        <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav animated fadeIn">
                <li class="active"><a href="#">MRM | Tour</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"> Trips <span class="caret"></span></a>
                    <ul class="dropdown-menu animated flipInX" role="menu">
                        <li>
                            <a href="#/home"></a>
                        </li>
                        <li><a href="#/balbak"> Baalbak</a></li>
                        <li><a href="#/beirut"> Beirut</a></li>
                        <li><a href="#/byblos"> Byblos</a></li>
                        <li><a href="#/saida"> Saida</a></li>
                        <li><a href="#/tripoli"> Tripoli</a></li>
                        <li><a href="#/tyre"> Tyre</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text"></p>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-flash"></span> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Login second -->
                                    <div class="social-buttons">
                                        <div class="iconSpecial"><i class="glyphicon glyphicon-user"></i>Login</div>
                                    </div>
                                    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">login</label>
                                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Username" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                            <div class="help-block text-right"><a href="">I forgot my password ?</a></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Enter</button>
                                        </div>
                                        <div class="checkbox text-dark">
                                            <label>
                       <input type="checkbox">Keep me logged in
                       </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
